/* Styles specific to posts and excerpts */

article.excerpt {
    max-height: 25em;
    position: relative;
    overflow: hidden;
    .read-more {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 2em 0 0;
        background-image: linear-gradient(to bottom, transparent, _palette(bg));
        a {
            text-shadow: 0 0 5px white;
        }
    }
    /*
    --scrollbar-width: 8px;
    --mask-height: 32px;
    overflow-y: auto;
    height: 25em;
    padding-bottom: var(--mask-height);
    --mask-image-content: linear-gradient(
        to bottom,
        transparent,
        _palette(bg) var(--mask-height),
        _palette(bg) calc(100% - var(--mask-height)),
        transparent
    );
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(_palette(bg) _palette(bg));
    --mask-size-scrollbar: var(--scrollbar-width) 100%;
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
    */
}
